<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
    </head>
    <body>
        <p>Thank you {{first name}} for using Concord Servicing, the premier loan servicing company.</p>
        <p>A document is ready for you on our online portal. Please click on the link to view it {{doc_link}}</p>
        <p>You can also view the document by signing on to our easy to use portal at http://concordservicing.com</p>
    </body>
</html>