<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Example of print layout</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/inline/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="./template1.css">
  </head>
  <body>
    <p>This is the pdf template</p>
    <div id="page_doc">
      <div id="logo"> <img src="./logos/{{client_id}}.png" alt="{{client_id}} logo"
          class="contain"> </div>
      <div id="from">
        <p>From address</p>
      </div>
      <div id="to">
        <p>{{first_name}} {{last_name}} <br>
          {{address1}} <br>
          {{address2}} <br>
          {{address3}} <br>
          {{city}} <br>
          {{state}} {{zip}} </p>
      </div>
      <div id="main">
        <p>Dear {{#if (eq gender "m")}}Mr{{else}}Mrs{{/if}} {{last_name}} thank
          you for being a valued customer of ours. </p>
        <p>We would like to extend this wonderful offer to you. Please go to our
          website at www.concordservicing.com to sign up.</p>
      </div>
    </div>
  </body>
</html>
